<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="android.permission.INTERNET" />
    <application
        android:name=".SwiftlyAnwendung"
        android:label="Swiftly"
        android:usesCleartextTraffic="true"
        android:enableOnBackInvokedCallback="true"
        android:theme="@android:style/Theme.Material.NoActionBar">
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <!-- Eigene Aufgabe: im kleinen Fenster bleibt die App daneben bedienbar. -->
        <activity
            android:name=".PlayerAktivitaet"
            android:exported="false"
            android:launchMode="singleTask"
            android:taskAffinity="de.paulherter.swiftly.player"
            android:excludeFromRecents="true"
            android:supportsPictureInPicture="true"
            android:resizeableActivity="true"
            android:configChanges="screenSize|smallestScreenSize|screenLayout|orientation|keyboardHidden" />
    </application>
</manifest>
